<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
	<title>Grupo O30</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
	
	<div class="container" style="background-color:lime ">
	<div class="row">
		<div class="col-md-4"><h1></h1></div>
		<div class="col-md-4"><h1>Lista de Canciones</h1></div>
	</div>
	<a th:href="@{/listadepista/create}" class="btn btn-secondary">Registre Nueva Canción</a>
		<table class="table table-dark table-striped-column">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Genero</th>
		      <th scope="col">Duracion</th>
		      <th scope="col">Album</th>
		      <th scope="col">Artista</th>
		      <th scope="col"></th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="producto:${listadepista}">
		      <td scope="row" th:text="${producto.idListadePista}"></td>
		      <td th:text="${producto.nombrePista}"></td>
		      <td th:text="${producto.genero}"></td>
		      <td th:text="${producto.duracion}"></td>
		      <td th:text="${producto.AlbumidAlbum}"></td>
		      <td th:text="${producto.ArtistaidArtista}"></td>
		      <td><a th:href ="@{/listadepista/edit/{id}(id=${producto.idListadePista})}" class="btn btn-success">Modificar</a></td>
		      <td><a th:href ="@{/listadepista/delete/{id}(id=${producto.idListadePista})}" class="btn btn-light">Eliminar</a></td>
		      
		    </tr>		    	    
		  </tbody>
		</table>
	</div>
</body>
</html>